<div class="container">
  <div class="row">
    <div class="header">
      <span>Education Details</span>`
    </div>
  </div>
  <div class="row">
    <div class="btn-add-educatin">
      <button mat-raised-button color="warn" (click)=" addEducation()">+ Add Education</button>
    </div>
  </div>
  <div class="row">
    <div>
    </div>
    <div>
      <form [formGroup]="educationalDetailsForm" autocomplete="off">
        <div formArrayName="educations">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="educationName">
              <mat-header-cell *matHeaderCellDef> Education Name </mat-header-cell>
              <mat-cell *matCellDef="let element;" [formGroup]="element">
                <mat-form-field>
                  <input matInput placeholder="Education Name" required formControlName="educationName">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="universityName">
              <mat-header-cell *matHeaderCellDef> University Name </mat-header-cell>
              <mat-cell *matCellDef="let element;" [formGroup]="element" >
                <mat-form-field>
                  <input matInput placeholder="University Name" required formControlName="universityName">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="result">
              <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
              <mat-cell *matCellDef="let element;" [formGroup]="element" >
                <mat-form-field>
                  <input matInput placeholder="Result" required formControlName="result">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="yearOfPassing">
              <mat-header-cell *matHeaderCellDef> Year Of Passing </mat-header-cell>
              <mat-cell *matCellDef="let element;" [formGroup]="element" >
                <mat-form-field>
                  <input matInput placeholder="Year Of Passing" required formControlName="yearOfPassing">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Year Of Passing </mat-header-cell>
              <mat-cell *matCellDef="let element" [formGroup]="element">
                <div class="btn-list">
                  <button mat-mini-fab color="primary">
                    <mat-icon>check</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" (click)="removeEducation(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </form>
    </div>
    <div *ngIf="dataSource.length === 0">
      No Record Found !
    </div>
  </div>
</div>