.container{
  display: block;
}
.row{
  margin-top:3px
}
.btn-add-educatin{
  float: right;
}
.education-form{
  display: flex;
  justify-content: center;
  margin: 80px;
}
.btn-list{
  margin-left: 10px;
}
