.container {
  width: 100%;
  display: block;
}

.row {
  width: 100%;
  display: flex;
}

.header {
  width: 100%;
  margin-left: 10px;
}

mat-form-field {
  margin: 10px;
  width: 90%;
}

.file-input {
  display: none;
}

resume-input {
  margin-left: 10px;
  display: flex;
  align-items: center;

  span {
    text-align: center;
  }
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 30.50%;
  text-align: center;

}

.exp-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-top: 3%;
  font-size: 20px;
  color: gray;
}