.container {
  width: 100%;
  display: block;
}

.row {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.header {
  width: 100%;
  margin-left: 10px;
}

mat-form-field {
  margin: 10px;
  width: 90%;
}

.col-6 {
  width: 50%;
}